python-dotenv
fastapi[standard]
uvicorn[standard]
sqlmodel
python-jose[cryptography]
httpx
fastapi-mail
pydantic-settings
bcrypt
ollama
langchain
langchain-community
langgraph
langchain-ollama
langchain-openai
openai
python-socketio
# huggingface_hub
# transformers
# torch<2.3.0
# accelerate
# pillow